<mat-toolbar >
    <button fxFlex="40%" mat-button (click)="back()"><svg-icon class="icon" src="./assets/arrow_left.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
      Back</button>
    <span fxFlex="50%"  class="title-symptoms">Symptoms</span>
</mat-toolbar>
<mat-divider ></mat-divider> 

<app-patientinfo></app-patientinfo>

<div class="symptomsdiv">
<mat-card *ngFor="let element of categoriesArray; let i = index" >
    <mat-card-content >
        <span>
            <span  fxFlex="70%" class="title-symptoms"  [class.extraclass]="clickedyes(element)">{{element.name}}</span>  
            <mat-chip-list fxFlex="30%">
            <mat-chip class="buttonno" [ngClass]="{'extraclassno' : clickedno(element)}"   (click)="removeSymptom(element)">No</mat-chip>
            <!--  (click)="changeValue(false,element, true)" [class.extraclassyes]="element === symptomsArray[i]"-->
            <mat-chip  class="buttonyes"  [ngClass]="{'extraclassyes' : clickedyes(element)}" (click)="addSymptom(element)" >Yes</mat-chip> 
        </mat-chip-list>  
        </span>
        <!-- <div *ngIf="clickedyes(element)">
            <br>
            <mat-divider></mat-divider>
            <br>
                <span class="symptomfollowup">Enter temperature: {{value}}</span>

            <br>
            <br>
            <div >
                <mat-slider color="accent" [(ngModel)]="value" min="35" max="41" step="0.1" value="37" thumbLabel>
                </mat-slider>
             </div>

            <div>
                <mat-radio-group class="radio-group">
                    For how long?<BR>
                    <br><mat-radio-button  class="radio-button"color="accent"value="1">Less than one week</mat-radio-button>
                    <mat-radio-button  class="radio-button"color="accent"value="2">More than one week</mat-radio-button>
                    <mat-radio-button  class="radio-button"color="accent"value="3">More than one month</mat-radio-button>
                </mat-radio-group>
            </div>
        </div> -->
    </mat-card-content>
</mat-card>

<!-- <mat-accordion class="example-headers-align">
    <mat-expansion-panel [disabled]="disableMe"  *ngFor="let element of categoriesArray ; let i = index" hideToggle>
        <mat-expansion-panel-header>
        <mat-panel-title >
            <span class="title-symptoms"  [class.extraclass]="isValid" >
                {{element.name}} 
            </span>  
            
        </mat-panel-title>
        
        <mat-panel-description>
            <mat-chip-list  >
                <mat-chip class="buttonno" [class.extraclassno]="isNo"  (click)="changeValue(false,no, true)" >
                  No
                </mat-chip>
                <mat-chip  class="buttonyes" [class.extraclassyes]="isValid" (click)="changeValue(true,yes, false)">
                  Yes
                </mat-chip> 
            </mat-chip-list>  
        </mat-panel-description>
    </mat-expansion-panel-header>

    <span class="symptomfollowup">Describe your pain</span>  <br>
      <span class="symptomfollowup">Enter temperature</span>  <br>
      <span class="symptomfollowup">For how long?</span>  <br>

    <mat-slider color="accent"
         min="35" max="41" step="0.1" value="37" thumbLabel>
    </mat-slider>
        <mat-form-field >
        <textarea matInput color="accent"placeholder="Input"></textarea>
    </mat-form-field>
    <mat-radio-group class="radio-group">
        <br><mat-radio-button  class="radio-button"color="accent"value="1">Less than a week</mat-radio-button>
        <mat-radio-button  class="radio-button"color="accent"value="2">More than a week</mat-radio-button>
      </mat-radio-group>
      <div >
          <br><mat-checkbox *ngFor="let symptom of symptoms" 
          color="accent"
          [labelPosition]="labelPosition"
          [disabled]="disabled">  
<br>

         </mat-checkbox>   
        </div>
  <mat-action-row>
  </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>    -->

</div>
<!-- id: {{symptom.id}} || name: {{symptom.children[0].question}} -->
<br>
<div style="    text-align: center;
">
 <button mat-raised-button  (click)="navigate()" class="send" color="primary">NEXT</button>

</div>

   