<br>
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Enter your age and gender
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
      <mat-form-field fxFlex="50%">
        <input matInput placeholder="Age">
      </mat-form-field>
      <mat-radio-group fxFlex="50%" class="radio-group" name="Sex" [(ngModel)]="selectedSex" required>
          <mat-radio-button  color="primary" class="radio-button"value="1">Male</mat-radio-button>
          <br><mat-radio-button  color="primary" class="radio-button"value="2">Female</mat-radio-button>

      </mat-radio-group>
    </div>
    </mat-expansion-panel>
</mat-accordion>
<!-- <mat-card>
    <mat-card-content>
      <mat-form-field class="example-full-width">
          <input style="font-size:18px;" matInput required min="0" [(ngModel)]="chosenAge" type="number" placeholder="Age" (input)="inputUpdate()" required>
      </mat-form-field>
        <div>
            <mat-radio-group class="radio-group" name="Sex" [(ngModel)]="selectedSex" required>
                <br><mat-radio-button  class="radio-button"color="accent"value="1">Male</mat-radio-button>
                <mat-radio-button  class="radio-button"color="accent"value="2">Female</mat-radio-button>

            </mat-radio-group>
        </div>
    </mat-card-content>
</mat-card> -->