<!-- <div><span>test: </span>{{selecteddiseasegroup.text}}</div> -->
<mat-toolbar style="  text-align: center;" >
  <span fxFlex="50%"  class="title-center">Home</span>
</mat-toolbar>
<mat-divider ></mat-divider> 

<mat-card class="welcome">Select a disease category</mat-card>
<!-- <div class="heading">CATEGORIES</div> -->
<mat-list class="categorylist">
    <mat-list-item *ngFor="let category of categoryList">
        <!-- <h4 mat-line>{{diseasegroup.text}}</h4> -->
        <button mat-button (click)="onSelect(category)">		
          <a  (click)="navigate()"> 
           <span color="primary" fxFlex="95%">{{categories[category.categoryId].name}}</span>
           <svg-icon class="icon"fxFlex="5%" src="./assets/arrow_right.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon>
          </a>
        </button>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider> 
     </mat-list-item>
</mat-list>


<!-- <button mat-button color="primary" (click)="navigate()"></button> -->

