

<!-- <ul>
    <li><a routerLink=""></a>hej</li>
    <li><a routerLink="symptoms">symtoms</a></li>

</ul> -->
<!-- <mat-toolbar color="primary" >
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let language of languages" (click)="changeLanguage(language.iso)">
          <span>{{language.title}}</span>
        </button>
      </mat-menu>
</mat-toolbar> -->

<router-outlet></router-outlet>




  


      
   