/* You can add global styles to this file, and also import other style files */
//body {background-color: #f5f5f5;}
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Muli:300');
// Plus imports for other components in your app.
$matblue:     #64b5d0!default;
$mat-light-blue: (50: #ffebee,
100: #ffcdd2,
200: #ef9a9a,
300: #e57373,
400: #ef5350,
500:#20BBD6,
600: #3998d3,
700: #d32f2f,
800: #c62828,
900: #b71c1c,
A100: #ff8a80,
A200: #ff5252,
A400: #ff1744,
A700: #d50000,contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  ));
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
$candy-app-primary: mat-palette($mat-light-blue, 500);
$candy-app-accent:  mat-palette($mat-light-blue, 600);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  //flex-basis: 0;
}
body{
    font-family: 'Montserrat', sans-serif;

    background-color: #FAFAFA;
    //#f5f5f5;
    margin: 0px;
}

.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
flex: 1 1 auto;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;


}
.categorylist{
    background: #ffffff;

}
.heading{
    padding:6px;
    font-size: 10px;

}
.mat-toolbar{
    background-color: #ffffff;

    font-family: arial;
    font-style: bold;
    font-size: 16px;
    width:100%;
    height:10%;

    padding:0px !important;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.13;
      letter-spacing: normal;
      color: #64b5d0;
      .title-center{
        margin: 0 auto;
      }
      .mat-button{
          color: #64b5d0;
          font-weight: 300;
          .icon{        
            fill: #64b5d0;
           // line-height:1.0;
        }

      }

    
}
  
//.example-headers-align{
.mat-card{margin: auto;
    font-family: 'Muli', sans-serif;

    .mat-mini-fab {        
        margin: 6px;
        width: 30px;
        height: 30px;
        line-height: 15px;
        font-size: 15px;
        transition: none !important;
        box-shadow: none !important;
      .mat-button-wrapper {
               // display: flex;
                justify-content: center;
                //line-height: 14px;
                padding: 0;
              
        }
       }
       .mat-chip{
        margin: 6px;
        justify-content: center;

        
    
       }
     
    .buttonyes{
        background-color:#ffffff !important;
        box-shadow:0px !important;
        color: #20BBD6;
        border: 1px solid #20BBD6 !important; /* Green */
        .mat-icon{
            color: #20BBD6;
        }
       
    }
    .extraclassyes{
        background-color:#20BBD6 !important;
        box-shadow:0px !important;
        border: 1px solid #20BBD6 !important; /* Green */
        color: #ffffff;
        .mat-icon{
            color: #ffffff;
        }
    
    }
    .buttonno{
        background-color:#ffffff !important;
        box-shadow:0px !important;
        color:rgba(0, 0, 0, 0.57);
        border: 1px solid #6E6E6E !important; /* Green */
        .mat-icon{
            color:rgba(0, 0, 0, 0.57);
            }
        
    }
    .extraclassno{
        background-color:rgba(0, 0, 0, 0.37) !important;
        border: 1px solid #A1A1A1 !important;
        box-shadow:0px !important;
        color: #ffffff;

        //border: 1px solid rgba(0, 0, 0, 0.47) !important; /* Green */
        .mat-icon{
            color: #ffffff;
        }
    
 //   }
}
    .title-symptoms{
        color: #707070;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        display: inline-block;

    }
    .mat-expansion-panel{
        .mat-panel-title{
            font-family: 'Montserrat', sans-serif !important;

        }

    }
    .extraclass {color: #20BBD6;
        display: inline-block;
    }

}

.symptomname{
    color: #707070;
    font-size: 12px;
    font-family: HelveticaNeue;
}
.personalinfo {
    color: #20BBD6;
    display: inline-block;
    
}
.dateof{
    color: #707070;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

}
.birth{
    color: #707070;
    font-size: 14px;
    font-family: HelveticaNeue;
    font-style: bold;

}
.symptomfollowup{
    color: #707070;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;

}


mat-slider {
    width: 300px;
    fill: #3998d3;
}
.mat-raised-button{
    margin: 8px;
    margin-right: 8px;
    padding: 8px;
    font-style: normal;

}
.symptomsdiv{
    margin-top: 8px;
    margin-bottom: 8px;
    height:584px;
    overflow:auto;
}

   

.mat-expansion-panel {
    width: 100%;
    background: #ffffff;
   // background:  #F1F8FA;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background: #ffffff;
    //opacity: 0.09;
    color: rgba(0, 0, 0, 0.87);
    .symptomfollowup{
        color: #707070;
        font-size: 12px;
        font-family: HelveticaNeue;
    }
}

.welcome{
    box-shadow: none !important;
    //background-color: #f5f5f5;
    background-color: #FAFAFA;

    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
        color: #707070;
}

.end{
    //fix this ugly code
    box-shadow: none !important;
    background-color: #f5f5f5;
    height: 400px;
}
.radio-group {
    display: inline-flex;
    //flex-direction: column;
            font-family: 'Montserrat', sans-serif;

}
.radio-button {
    margin: 5px;
    font-family: 'Montserrat', sans-serif;

}

.mat-list-item-content{
    padding:0px !important;
}

.mat-button{
    width: 100%;
    min-width: 300px;
    height: 100%;
    text-align: left !important;
    //color: #3998d3;
    line-height: 23px !important;
    .icon{        
        fill: #c7c7cc;
       // line-height:1.0;
    }
}
    
.mat-divider{
    width: 100%;
}