<mat-toolbar  >
    <button mat-button fxFlex="40%"(click)="back()"><svg-icon class="icon" src="./assets/arrow_left.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
      Back</button>
    <span fxFlex="50%"  class="title-symptoms">My Symptoms</span>
</mat-toolbar>
<mat-divider></mat-divider>
<!-- <mat-card class="welcome"><span color="">Symptoms</span> <br>Select a disease category and fill in the symptoms</mat-card>
<mat-list> -->
    <br>
    <div class="symptomsdiv">
                <mat-card>
                <span class="personalinfo" >Personal information</span>
                <br><br>
                <span class="dateof" >Date if birth</span><br>
                <span class="birth" >18.08.1988</span>
            </mat-card>
        <br>
        <mat-card>
                <span class="personalinfo" >Symptoms</span>
                <br><br>
                <span class="dateof" >Fever</span><br>
                <span class="birth" >37 C</span><br><br>
                <span class="dateof" >Runny nose</span><br>
                <span class="birth" >One week</span><br>
            <div class="dateof" *ngFor="let element of symptomsArray">Question: {{element.name}}</div>
        </mat-card>
    </div>
    <div style="text-align: center;">
        <button mat-raised-button  (click)="navigate()" class="send" color="primary">SEND</button>
    </div>